.ar-wrapper {
	width: 100%;
	display: inline-block;
	position: relative;
	//background: red;
}

.ar-wrapper:after {
	padding-top: 75%;
	display: block;
	content: '';
	//background: green;
}

.ar-main {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	//background: blue;
}

.new-stuff-card {
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -.5em;
	margin-left: -.5em;
	//background: yellow;
}

.stuff-card-controls {
	text-align: center;
	width: 100%;
	height: 2em;
}

.stuff-card-content {
	width: 100%;
	height: calc(100% - 2em);
	overflow: hidden;
	white-space: pre-wrap;
	
}


.stuff-card-content textarea {
	//border-style: none;
	//border-color: Transparent;
	overflow: auto;
	//outline: none;
	width: 100%;
	height: 100%;
	//background: red;
}

