.ar_wrapper {
  display: inline-block;
  position: relative;
}

.ar_4_3_wrapper:after {
  padding-top: 75%;
  display: block;
  content: '';
}

.asd {
	width: 100%;
	background: black;
}

textarea {
	border-style: none;
	border-color: Transparent;
	overflow: auto;
	outline: none;
}